@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body{
  width:100%;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;

  background: var(--almost-white);

}
  :root{
    --almost-white: hsl(0, 0%, 98%);
    --font-color: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
  }

a{text-decoration: none;}
li{list-style: none;}

/*===============HEADER=================*/

header{
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  padding: 0 4rem;

}
header span{
  cursor: pointer;
}
header a, span{
  color: var(--font-color);
  text-transform: capitalize; /*cada palavra vai começar com letra maiúscula*/
  font-size: .8em;

  transition: all .3s ease;
}
header span:hover{
  color: var(--almost-black);
}

header nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .logo-nav .logo{
  margin-right: 3rem;
}

header nav ul{
  display: flex;
  gap: 3rem;
}

header nav ul .dropdown{
  position: relative;
}

header nav ul .dropdown span, a{
  display: flex;
  align-items: center;
  gap: .3rem;
}

/*esse list é uma classe que está nos dois dropdowns, então com um bloco de estilo, consigo estilizar dois elementos diferentes*/
header nav ul .dropdown .list{
  position: absolute;
  top: 1.3rem;
  height: 0;
  opacity: 0;
  overflow: hidden;

  background: var(--almost-white);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
  border-radius: .5rem;

  transition: all .3s ease;
  z-index: 99;
}

/*esse bloco de código serve para trocar a setinha no dropdown do header */

header nav ul .dropdown .d1, .d2{
  background: url(../images/icon-arrow-down.svg) no-repeat;

  background-position: 100%;
  transition: none;
  width: 120%; /*aumenta o tamanho do li para poder ter um espaço da seta com a palvra, ja que a seta é uma img de backdround*/
}


header nav ul .dropdown .d2{
  background: url(../images/icon-arrow-down.svg) no-repeat;
  background-position: 100%;

  transition: none;
}

/*esse bloco de código serve para trocar a setinha no dropdown do header */
header nav ul .dropdown .list a{
  padding: .7rem; 
}
header nav ul .dropdown .list a img{
  margin-right: .5rem;
}

header nav ul .dropdown .listF{
  right: 0;
}

header nav ul .dropdown .listC{
  left: 0;
  white-space: nowrap; /*esse atributo impede o texto nele não quebre de acordo com a largura do caointer, como não defini largura, o container vai se adaptar para mostrar*/
}

header nav ul li{
  text-align: center;
}

header .login-register{
  display: flex;

}

header .login-register .login{
  margin-right: 2rem;
}

header .login-register .register{
  border: 2px solid var(--almost-black);
  border-radius: .8rem;

  padding: .7rem 1.1rem;

}

header .menu{
  display: none;
  z-index: 99;
}

/*=============== MAIN =====================*/
main{
  width: calc(100% - 8rem) ; /*a largura do main é difinido assim: 100% da tela, menos a soma do padding do header, fazendo assim ficarem alinhados*/

  height: calc(90vh - 8rem);
  /*funciona assim: 4rem(padding do header) + 84px (largura da img da logo) + 3rem(margin-right da logo)*/
  padding-left: calc(4rem + 84px + 3rem) ; /*esse padding funciona quase do memso modo, intuito de alinhar o header com o main*/
  padding-top: 1rem;

  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5rem;

}

main section{
  flex: 1;
  height: 100%;
  width: 100%;
}

main h1{
  font-size: 4em;
  line-height: 1em;
  width: 93%;
  z-index: -1;
}

main .article{
  display: flex;

  flex-direction: column;
  justify-content: center;
  position: relative;

}

main .paragraph{
  padding: 4rem 0;
}

main .article .learn-more{
  color: var(--almost-white);
  background: var(--almost-black);
  border: 1px solid var(--almost-black);
  font-size: 1em;
  font-weight: 700;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: .8rem;

  transition: all .3s ease-in-out;
}
main .article .learn-more:hover{
  background: none;
  color: var(--almost-black);
  
}

main .clients{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .article p{
  font-size: 1em;
  color: var(--font-color);
  line-height: 1.5em;
}

main .clients img{
  object-fit: contain;
}

main .hero-content img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*==========FOOTER===============*/
footer {
  font-size: .6em;
  color: var(--font-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: .4rem;
  margin: 20px 0;
}

footer a{
  color: var(--almost-black);
  line-height: 1em;
}
